.login-wrapper{
    background: linear-gradient(135deg, #efbaf8, #40193c);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 60px;
}

.login-title{
    font-size: 2.5rem;
    color: #222;
    margin-bottom: 0.5rem;
}

.login-subtitle{
    font-size: 1rem;
    color: #444;
    margin-bottom: 2rem;
}

.login-form{
    background: #E6E6FA;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

.form-label{
    display: block;
    text-align: left;
    margin: 1rem 0 0.3rem;
    font-weight: bold;
    color: #555;
}

.form-input{
    width: 100%;
    padding: 0.8rem;
    border: 2px solid #FF7F50;
    border-radius: 12px;
    font-size: 1rem;
    outline: none;
}

.login-button{
    margin-top: 1.5rem;
    background: linear-gradient(135deg, #98FF98, #1a3e1a);
    color: lavendar;
    border: none;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
}

.login-button:hover{
    background: #ff9900;
}